extends layout/index

block head
  title カナザワ映画祭2017
  meta(property='og:title', content='カナザワ映画祭2017')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2017/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2017_5.jpg')
  meta(property='og:description', content='カナザワ映画祭2017')
  meta(property='og:locale', content='ja_JP')

block body
  #top
    img.max(src='./images/main.jpg')
    .block
      p 2007年より実施しているカナザワ映画祭は、今年で11年目となります。
      p 新たなるスタートとなる本年は、年一回9月開催という枠を超え、7月から11月の約半年間に渡り、石川県金沢市はもちろん山口市、羽咋市、北九州市、京都市、仙台市でもカナザワ映画祭を実施し、金沢からの文化発信という目的の更なる発展を目指します。
    img.max(src='./images/upcoming.jpg')
    .block
      p
        a(href='https://www.kanazawa21.jp/' target='_blank') 21世紀美術館
      p
        a(href='http://www.ycam.jp/' target='_blank') YCAM
      p
        a(href='http://www.hakui.ne.jp/ufo/' target='_blank') コスモアイル羽咋
      p
        a(href='http://kokura-showakan.com/' target='_blank') 小倉昭和館
      p
        a(href='http://kyoto-minamikaikan.jp/' target='_blank') 京都みなみ会館
      p
        a(href='http://www.sakura-centralhall.jp/' target='_blank') 桜井薬局セントラルホール
    #credit
      p ■主催:&nbsp;
        a(href='http://www.eiganokai.com/about') 一般社団法人　映画の会
      p ■協力:&nbsp;
        a(href='http://www.kanazawa-cb.com/kfc/' target='_blank') 金沢フィルムコミッション
        | 、
        a(href='https://cine-monde.jimdo.com/' target='_blank') シネモンド
      p ■映画祭ロゴ:&nbsp;檜垣紀六
      p ■ポスターデザイン:&nbsp;ミヤジー・スコリモフモフスキ
      p ■メインビジュアル:&nbsp;
        a(href='http://www.madsculptures.net/' target='_blank') mad sculptures
      p ■サイトデザイン:&nbsp;小林貴也 (
        a(href='https://kbys.tk/y' target='_blank') https://kbys.tk/y
        | )
      p ■作品提供:&nbsp;ニコロ
      p ■後援:&nbsp;
        a(href='http://www.zenkoren.or.jp/ishikawaken/' target='_blank') 石川県興行生活衛生同業組合
        | 、
        a(href='http://www.hokkoku.co.jp/' target='_blank') 北國新聞社
      p ■助成:&nbsp;
        a(href='https://www4.city.kanazawa.lg.jp/' target='_blank') 金沢市
      p ■協賛(50音順):&nbsp;etc.link、JO-HOUSE、METRO CITY ZIGGY、niginigi x Chomsky、sirasagi/白鷺美術、SKANDA、石引 パプリック、岩本清商店、欧風食堂ル・マルス、オヨヨ書林シンタテマチ店、オヨヨ書林せせらぎ通り店、旬菜焼はざま、スペイン料理アロス、田中昭文堂印刷株式会社、日本料理嬉ぐ（うらぐ）、野澤(美容院)、バーゴールデンフィッシュ、ひがし 山とみ、ひげの店、ビストロ・ユイガ、 ひらみぱん、葡萄夜、洋酒カクテル中村堂
      p ■カナザワ映画祭サポーター(入会順):&nbsp;沢木 麻、高橋ナオヤ、語る会主宰白瀑、まてい～に、viewboo、ビター・ダカラン、愛新覚羅けいご、佐藤眞、三田 慶、スペックス、平野 吉光、元木史昭、松田絵里沙、松田邦久、大澤周平、櫻井ザンギ、ZAIGEN
