extends layout/index

block head
  title カナザワ映画祭2017
  meta(property='og:title', content='カナザワ映画祭2017')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2017/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2017_5.jpg')
  meta(property='og:description', content='カナザワ映画祭2017')
  meta(property='og:locale', content='ja_JP')

block body
  h1 works
