@import 'normalize.css';
@import 'purecss/build/grids-min.css';
@import 'purecss/build/grids-responsive-min.css';
@import 'purecss/build/tables-min.css';
@import 'purecss/build/menus-min.css';

@custom-media --small-screen (width <= 400px);
@custom-media --medium-screen (width < 790px);

:root {
  --button-background-color: #FACF00;
  --link-red: #B12528;
  --body-background-color: #E6DFCF;
}

body {
  background-color: var(--body-background-color);
}

.max {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 790px;
  background-color: #fafafa;
  margin-bottom: 2em;
  padding-bottom: 1em;

  @media (--medium-screen) {
    width: 100%;
  }
}

.pure-menu-children {
  background-color: var(--button-background-color);
  text-align: left;
  padding: .5em;

  @media (--small-screen) {
    max-width: 285px;
  }

  a {
    text-decoration: none;
    color: var(--link-red);
  }

  .pure-menu-item {
    margin: .5em 0;
    font-size: 18px;
    border-bottom: solid 3px #000;
    white-space: normal;
    width: 450px;

    @media (--small-screen) {
      width: 290px;
    }
  }
}

header {
  background-color: #fff;

  img {
    height: 36px;
    margin-top: 8px;
  }

  .logo {
    text-align: center;
    line-height: 0;
  }

  .links {
    text-align: right;
    padding-right: 1em;

    @media (--medium-screen) {
      text-align: center;
      padding: 0;
    }

    a {
      margin: 4px;
      font-size: 12px;
      color: #090;
      text-decoration: none;
      line-height: 54px;

      @media (--medium-screen) {
        line-height: 25px;
      }

      @media (--small-screen) {
        font-size: 10px;
      }

      &:hover {
        background-color: #cf0;
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 12px;
  color: #999;
  margin-top: 1em;
}

.pure-menu-link {
  padding: 0;
}

.program {
  display: inline-block;
}

.pure-menu-has-children > .pure-menu-link:after {
  position: relative;
  top: -1em;
}

.pure-menu-active > .pure-menu-link, .pure-menu-link:focus, .pure-menu-link:hover {
  background-color: var(--button-background-color);
}

#header-visual {
  background-color: var(--body-background-color);

  a {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 75%;
    line-height: 0;

    @media (--medium-screen) {
      width: 100%;
    }
  }
}

#top {
  rect {
    fill: rgba(0, 0, 0, 0);

    &:hover {
      fill: rgba(250, 207, 0, 0.6);
    }
  }
}

#menu {
  .button {
    background-color: var(--button-background-color);
    border: 1px solid #999;
    text-align: center;
    display: block;
    text-decoration: none;
    height: 45px;

    p {
      margin: 0;
      font-size: 12px;
      color: #555;
    }

    img {
      height: 26px;
    }
  }
}

.block {
  margin: 1em 0;
}

#timetable, #ticket, #access {
  padding-bottom: 3em;
}

#timetable {
  table {
    width: 100%;
    table-layout: fixed;
  }

  th {
    text-align: center;
  }

  td, th {
    padding: 0;
  }

  p {
    margin: 0;
    text-align: center;
  }

  .pure-table thead {
    background-color: #fff;
  }

  .empty {
    background-color: #3D5B7D;
  }

  .short {
    font-size: 13px;
  }

  .event {
    background-color: var(--button-background-color);
  }

  .comp {
    height: 113px;
  }

  .time {
    background-color: #333;
    color: #eee;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
  }
}

#ticket {
  table {
    width: 70%;
    margin: 0 auto;

    @media (--medium-screen) {
      width: 100%;
    }
  }
}

#enfd, #top, #timetable, #ticket, #yapoo, #kichiku, #access {
  a {
    color: var(--link-red);
    text-decoration: none;

    &:hover {
      background-color: var(--button-background-color);
    }
  }

  p {
    margin: 0 1em;
  }

  h1 {
    border-bottom: 5px solid #000;
  }

  h2 {
    border-bottom: 3px solid #000;
  }

  h3 {
    padding: 0 1em;
    border-bottom: 1px solid #000;
  }
}

#enfd, #yapoo, #kichiku, #top {
  .film {
    width: 75%;
    margin: 0 auto;

    @media (--medium-screen) {
      width: 100%;
    }
  }

  .desc {
    font-size: 13px;
  }

  .name {
    font-weight: bold;
  }

  .director {
    padding: .5em;
    width: 88%;
    margin: 1em auto;
    border: 3px solid #666;
    border-radius: 5px;

    @media (--medium-screen) {
      width: 80%;
    }
  }
}

#credit {
  background-color: #111;
  color: #fff;
  font-size: 12px;
  padding: .5em;
  margin: 1em 0;

  p {
    line-height: 1.5em;
  }

  a {
    color: #fff;
  }
}
