extends layout/index

block head
  title 熊切監督が期待の新人監督だった頃 | カナザワ映画祭2017
  meta(property='og:title', content='熊切監督が期待の新人監督だった頃 | カナザワ映画祭2017')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2017/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2017_5.jpg')
  meta(property='og:description', content='カナザワ映画祭2017')
  meta(property='og:locale', content='ja_JP')

block body
  #kichiku
    h1 熊切監督が期待の新人監督だった頃
    p かつて「期待の新人監督」だった熊切監督が鮮烈デビューを飾った作品『鬼畜大宴会』を上映。
    h2 鬼畜大宴会
    img.max(src='./images/kichiku.jpg')
    p 1997年/日本/106分
    p 監督・脚本・編集: 熊切和嘉
    p 撮影: 橋本清明
    p 音楽: 赤犬
    p 出演: 三上純未子、沢田俊輔、木田茂、杉原敏行、小曽木健太郎
    p 山岳ベースで殺し合う左翼学生グループを強烈なバイオレンス描写で描いた熊切監督の衝撃のデビュー作。当時まさに期待の新人監督が誕生した作品だった。大阪芸術大学の卒業制作作品でもある今作には、後の映画界をけん引する学生たち（山下敦弘、向井康介、近藤龍人など）がスタッフとして参加。第48回ベルリン国際映画祭パノラマ部門正式招待、第28回タオルミナ国際映画祭グランプリ受賞、第20回ぴあフィルムフェスティバル PFFアワード準グランプリ受賞。
