extends layout/index

block head
  title タイムテーブル | カナザワ映画祭2017
  meta(property='og:title', content='タイムテーブル | カナザワ映画祭2017')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2017/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2017_5.jpg')
  meta(property='og:description', content='カナザワ映画祭2017')
  meta(property='og:locale', content='ja_JP')

block body
  #timetable
    h1 タイムテーブル
    table.pure-table.pure-table-bordered
      thead
        tr
          th 7/15(土)
          th 7/16(日)
          th 7/17(月・祝)
      tbody
        tr
          td
            p 10:00
            p 短編A
          td
            p 10:00
            p 短編D
          td
            p 10:00
            p 歯まん
        tr
          td
            p 11:50
            p 短編B
          td
            p 12:00
            p おっさんのケーフェイ
          td
            p 12:00
            p 自由を手にするその日まで
        tr
          td
            p 13:50
            p 短編C
          td
            p 13:30
            p 白波
          td
            p 14:10
            p バーミー
        tr
          td
            p 16:00
            p ヤプー倶楽部トーク
          td
            p 15:00
            p ハングマンズノット
          td
            p 16:10
            p 同じ月は見えない
        tr
          td
            p 17:50
            p 鬼畜大宴会
          td
            p 17:00
            p よろずや探偵談
          td
            p 18:30
            p 授賞式
        tr
          td 空
          td
            p 19:00
            p 鋼鉄はいかに輝くか
          td 空
