extends layout/index

block head
  title タイムテーブル | カナザワ映画祭2017
  meta(property='og:title', content='タイムテーブル | カナザワ映画祭2017')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2017/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2017_5.jpg')
  meta(property='og:description', content='カナザワ映画祭2017')
  meta(property='og:locale', content='ja_JP')

block body
  #timetable
    h1 タイムテーブル
    table.pure-table.pure-table-bordered
      thead
        tr
          th(style='color:#333F7D;') 7/15(土)
          th(style='color:#7D3326;') 7/16(日)
          th(style='color:#7D3326;') 7/17(月・祝)
      tbody
        tr.time
          td
            p 10:00
          td
            p 10:00
          td
            p 10:00
        tr
          td
            p.title 短編A
            .short
              .block
                p
                  a(href='./enfd.html#1') 髑髏と爪
              .block
                p
                  a(href='./enfd.html#2') 養貝揚場の死斗
              .block
                p
                  a(href='./enfd.html#3') 瓜二つ
          td
            .block
              p.title 短編D
            .short
              .block
                p
                  a(href='./enfd.html#9') もりのくまさん
              .block
                p
                  a(href='./enfd.html#10') 阿呆の舞
              .block
                p
                  a(href='./enfd.html#11') 腰抜け
              .block
                p
                  a(href='./enfd.html#12') 覚めない夢
              .block
                p
                  a(href='./enfd.html#13') はりこみ
          td
            p.title
              a(href='./enfd.html#19') 歯まん
        tr.time
          td
            p 11:50
          td
            p 12:00
          td
            p 12:00
        tr
          td
            .block
              p.title 短編B
            .short
              .block
                p
                  a(href='./enfd.html#4') WALK IN THE ROOM
              .block
                p
                  a(href='./enfd.html#5') 変わらないで。百日草
          td
            p.title
              a(href='./enfd.html#14') おっさんのケーフェイ
          td
            p.title
              a(href='./enfd.html#20') 自由を手にするその日まで
        tr.time
          td
            p 13:50
          td
            p 13:30
          td
            p 14:10
        tr
          td
            .block
              p.title 短編C
            .short
              .block
                p
                  a(href='./enfd.html#6') ウエポンズ
              .block
                p
                  a(href='./enfd.html#7') アマノジャク・思春期
              .block
                p
                  a(href='./enfd.html#8') FILAMENT
          td
            p.title
              a(href='./enfd.html#15') 白波
          td
            p.title
              a(href='./enfd.html#21') バーミー
        tr.time
          td
            p 16:00
          td
            p 15:00
          td
            p 16:10
        tr
          td.event.comp
            .short
              p 【康康夫×熊切和嘉 トークイベント】
            p.title
              a(href='./yapoo.html') ヤプー倶楽部トーク
          td
            p.title
              a(href='./enfd.html#16') ハングマンズノット
          td
            p.title
              a(href='./enfd.html#22') 同じ月は見えない
        tr.time
          td
            p 17:50
          td
            p 17:00
          td
            p 18:30
        tr
          td.comp
            .short
              p 熊切監督が期待の新人監督だった頃
            p.title
              a(href='./kichiku.html') 鬼畜大宴会
          td
            p.title
              a(href='./enfd.html#17') よろずや探偵談
          td.event
            p.title 授賞式
        tr.time
          td
          td
            p 19:00
          td
        tr
          td.empty.comp
          td
            p.title
              a(href='./enfd.html#18') 鋼鉄はいかに輝くか
          td.empty
