extends layout/index

block head
  title ヤプー倶楽部 | カナザワ映画祭2017
  meta(property='og:title', content='ヤプー倶楽部 | カナザワ映画祭2017')
  meta(property='og:type', content='website')
  meta(property='og:url', content='http://www.eiganokai.com/event/filmfes2017/')
  meta(property='og:image', content='http://www.eiganokai.com/images/logo2017_5.jpg')
  meta(property='og:description', content='カナザワ映画祭2017')
  meta(property='og:locale', content='ja_JP')

block body
  #yapoo
    .film
      img.max(src='./images/yapoo.jpg')
    h1 ヤプー倶楽部
    p 奇書「家畜人ヤプー」をかつて企画し、現在映画化を企む伝説のプロデューサー・康芳夫。映画『家畜人ヤプー』の監督を望む映画監督・熊切和嘉。現在あらゆるジャンルの作品に対する役人の検閲や企業の自主規制が厳しくなる中、もっとも過激と言われた小説「家畜人ヤプー」の映画化作戦を伝説のプロデューサーと鬼才監督が語る!!
    h2 ゲスト
    .film
      .director.pure-g
        .pure-u-sm-1-4.pure-u-1-1
          img.max(src='./images/kou.jpg')
        .pure-u-sm-3-4.pure-u-1-1
          p.name 康 芳夫
          .block
            p.desc 虚業家。伝説のプロデューサー。1937年東京都生まれ。東京大学(教育哲学専攻)卒業後、興行師神彰の元で呼び屋として活躍。その後独立、三島由紀夫が通いつめた「アラビア大魔法団」、「インディ500マイルレース」などを呼ぶ。また、『家畜人ヤプー』プロデュース、ネッシー捕獲探検隊結成、モハメド・アリ戦の興行、かのオリバー君招聘、アリ対猪木戦のフィクサーなどをこなし、メディアの風雲児として、最近はTVドラマ『ディアスポリス 異邦警察』、映画『ディアスポリス -DIRTY YELLOW BOYS-』(熊切和嘉監督)裏都知事役で出演。怪優・迷優として活躍を続けている。
      .director.pure-g
        .pure-u-sm-1-4.pure-u-1-1
          img.max(src='./images/kumakiri.jpg')
        .pure-u-sm-3-4.pure-u-1-1
          p.name 熊切和嘉
          .block
            p.desc 1974年、北海道帯広市生まれ。大阪芸術大学卒業制作『鬼畜大宴会』(97)が第20回ぴあフィルムフェスティバルにて準グランプリを受賞し、一躍注目を浴びる。その後『アンテナ』や『揮発性の女』『青春☆金属バット』『フリージア』『ノン子36歳(家事手伝い)』『海炭市叙景』『莫逆家族 バクギャクファミーリア』『私の男』など次々と話題作を発表。その後、1年間フランスに留学。2016年『ディアスポリス -DIRTY YELLOW BOYS-』を監督。最新作は2017年6月公開の映画『武曲 MUKOKU』。
