doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width')
    link(href='index.css' rel='stylesheet')
    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create', 'UA-100203164-1', 'auto');ga('send', 'pageview');
    block head
  body
    .wrapper
      header.pure-g
        .pure-u-1-1.pure-u-sm-1-4.logo
          a(href='/')
            img(src='//www.eiganokai.com/images/logo2.jpg', alt='映画の会')
        .pure-u-1-1.pure-u-sm-3-4
          .links
            a(href='/') ホーム
            a(href='/about') 団体概要
            a(href='/event') イベント
            a(href='/about/supporter.html') サポーター募集
            a(href='//eiganokai.blog.fc2.com') ブログ
            a(href='/about/info.html') お問合わせ
      #top.pure-u-1-1
        a(href='./')
          img.max(src='./images/top.jpg')
      #menu.pure-g
        .pure-u-1-2.pure-u-sm-1-4
          .button
            img(src='./images/timetable.png')
            p タイムテーブル
        .pure-u-1-2.pure-u-sm-1-4
          .button
            img(src='./images/ticket.png')
            p チケット
        .pure-u-1-2.pure-u-sm-1-4
          .button
            img(src='./images/program.png')
            p プログラム
        .pure-u-1-2.pure-u-sm-1-4
          .button
            img(src='./images/access.png')
            p アクセス
      block body
